#content {padding-top:0px;width:100%;overflow:hidden;padding-bottom:160px;}

#contenedor {: 80%;: 0 auto;}

.body1 {background:url(../images/bg_footer.jpg) top center repeat;height:80px}
.main {margin:0 auto;width:960px;position:relative}
footer {padding-top:31px;text-align:center;line-height:18px;color:#fff}	
.statusbar {margin:0 auto;width:960px;position:relative}