<div class="statusbar">
		<table width="100%">
			<tr>
				<td>Usuario: <strong><b><?php echo $_SESSION['username']; ?></b></strong></td>
				<td>Oro: <strong><b><?php echo $_SESSION["oro"]; ?></b></strong></td>
				<td>Plata: <strong><b><?php echo $_SESSION["plata"]; ?></b></strong></td>
				<td>Dollar: <strong><b><?php echo $_SESSION["dollar"]; ?></b></strong></td>
			</tr>
		</table>
</div>
<div class="body1">	
	<div class="main">
<!-- footer -->
		<footer>
			<!-- a href="http://www.templatemonster.com/" target="_blank" rel="nofollow">www.templatemonster.com</a><br>
			<a href="http://www.templates.com/product/3d-models/" target="_blank" rel="nofollow">www.templates.com</a -->
			<font color="#fff"><strong>&copy Copyright bados & steelsoft</strong></font>
		</footer>
<!-- / footer -->
	</div>
</div>